<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <connectionStrings>
    <!--
    <add  name="SERVICEX" connectionString="data source=DESKTOP-VUF2SL5\SERVICEX;initial catalog=SERVICEX;integrated security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
     -->
    <!--
    <add name="SERVICEX" connectionString="metadata=res://*/ModelServiceX.csdl|res://*/ModelServiceX.ssdl|res://*/ModelServiceX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VUF2SL5\SERVICEX;initial catalog=SERVICEX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->
    <add name="SERVICEX" connectionString="metadata=res://*/ModelServiceX.csdl|res://*/ModelServiceX.ssdl|res://*/ModelServiceX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VUF2SL5\SQLEXPRESS;initial catalog=SERVICEX;integrated security=True;;User Instance=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <!--
<connectionStrings>
  <add name="SERVICEXEntities" connectionString="metadata=res://*/ModelServiceX.csdl|res://*/ModelServiceX.ssdl|res://*/ModelServiceX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VUF2SL5\SERVICEX;initial catalog=SERVICEX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
  <userSettings>
    <Modelo.Properties.Settings>
      <setting name="SERVICEXEntities" serializeAs="String">
        <value>data source=DESKTOP-VUF2SL5\SERVICEX;initial catalog=SERVICEX;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework</value>
      </setting>
    </Modelo.Properties.Settings>
  </userSettings>
  -->
</configuration>